body {
  margin: 0;
  background-color: #efefef;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  place-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}

.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5em;
  background-color: white;
  margin: 3rem auto;
  box-shadow: 0px 0px 8px #888;
  border-radius: 0.5rem;
  font-weight: bold;
  /* border: 1px solid black; */
}

.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.x-score {
  color: rgb(255, 70, 37);
  border-bottom: 5px solid rgb(255, 70, 37);
  border-radius: 0.5rem 0 0 0.5rem;
}

.o-score {
  color: rgb(44, 135, 255);
  border-bottom: 5px solid rgb(44, 135, 255);
  border-radius: 0 0.5rem 0.5rem 0;
}

.inactive {
  border-bottom: 5px solid transparent;
}

.box {
  background-color: white;
  border: none;
  border-radius: 10%;
  box-shadow: 0 0 8px #888;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  line-height: 5rem;
  font-family: sans-serif;
  margin: 0.5rem;
}

.x {
  color: rgb(255, 70, 37)
}

.o {
  color: rgb(44, 133, 255)
}

.box:hover {
  box-shadow: 0px 0px 15px #888;
}
.App {
  width: 60%;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}

.reset-btn {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.reset-btn:not(:disabled):hover,
.reset-btn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.reset-btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}